body {
    text-align: center;
    background-color:rgb(167, 146, 119); 
  
}
legend {
    text-align: left;
}

fieldset {
    border: 2px solid rgb(234, 216, 192); 
    background-color: rgb(209, 187, 158);
    font-family:Arial, Helvetica, sans-serif;
}

header {
    border: 2px solid rgb(183, 183, 183); 
    background-color: rgb(240, 248, 255);   
}

section p {
    background-color:rgb(167, 146, 119); 
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
}
.list{
    display:inline-block; 
   list-style-position: inside;
   
}
.img {
    height: 200px;
    width: 290px;
    padding: 20px;
    margin: 10px;
}
li{
    text-align: left;  
    padding: 10px;
}
nav {
    background-color: rgb(167, 146, 119) ;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: black;
    text-decoration:none;
}
.width{
    width: 48%;
    margin: 1%;
    height: auto;
    box-sizing: border-box;
 }
 .constrane{
    display: flex;
    justify-content:space-between ;
 }
